<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dropdown Example</title>

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>


</head>


<body>

  <p>Select a new car from the list.</p>
  <form id="form1" action="/login" method="POST" enctype="multipart/form-data">
    <select id="mySelect" name = "cars">
      <option value="Audi">Audi</option>
      <option value="BMW">BMW</option>
      <option value="Mercedes">Mercedes</option>
      <option value="Volvo">Volvo</option>
    </select>
    <input id = "submitButton" type="submit" value="Submit">
  </form>

      <p>Date: <input type="text" id="datepicker"></p>

	  <p>If you click on the "Hide" button, I will disappear.</p>

	  <button id="hide">Hide</button>
	  <button id="show">Show</button>
	  
	  <script type="text/javascript">
	  {% raw %}
	  $(document).ready(function() {
		  $(function() {
		  $(document).ready(function() {
			alert('Loaded!');
			});
			$( ".widget input[type=submit], .widget a, .widget button" ).button();
			$( "button, input, a" ).click( function( event ) {
			  event.preventDefault();
			} );
		  } );
		  

		  
		  $(document).ready(function(){
			$("#hide").click(function(){
				$("p").hide();
			});
			
			$("#show").click(function() {
				$("p").show();
			});
		   });
			
			
		  $(function() { 
			 $("#submitButton").click(function(){
				//$.post('/login', {'hi':'dadada'});

				$.ajax({
					url: '/login',
					data: JSON.stringify({'hello':'dadad'}),
					dataType: 'json',
					type: 'POST',
					contentType: "application/json",

					success: function(response){
						console.log(response);
						},
					error: function(error){
						console.log(error);
						}
					});				
			
				});
			
			
			});
			
		
	});
	  {% endraw %}
</script>
</body>
</html>